.dummy {
    font-size: 20px;
  }
  
  .slides_container {
    margin: 0px auto; // center
    width: 100%;
    height: 100%;
  }
  
  .popup .leaflet-popup-content-wrapper {
    font-size: 15px;
    text-align: "center";
  }
  
  h3 {
    text-align: center;
  }
  
  .comments {
    border: 1px solid black;
    border-radius: 10px;
    opacity: 5;
  }