.header {
    background-color: #22884f;
    color: white;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

.button {
    margin: 10px 140px 15px 140px;
}